.container {
  max-width: 400px;
  margin: 8% auto 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

h2 {
  font-size: 25px;
  margin-bottom: 40px;
}

.pass_length {
  text-align: center;
  color: white;
  height: 30px;
  width: 30px;
  background-color: #007bff;
  line-height: 28px;
  border-radius: 100%;
}

.slider {
  width: 60% !important;
  margin-top: 5px !important;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 50px;
  border-radius: 20px;
}

button:hover {
  background-color: #0056b3;
}

.mg {
  margin: 10px;
}

.copy_icon {
  font-size: 16px;
  color: #007bff;
  cursor: pointer;
}

.copy_icon:hover {
  background-color: #daebfc;
}

.copystyle {
  background-color: #E2FCE2;
  padding: 4px;
  font-size: 10px;
  margin-left: 10px;
  border-radius: 5px;
}


.generated-password {
  margin-top: 30px;
  font-size: 15px;
  font-weight: 600;
  padding: 4px;
  border-radius: 20px;
  border: 1px solid #007bff;
}


.text_align {
  text-align: center;
}

.d_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d_flexcc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.marginLeft {
  margin-left: 8px;
}